<div class="posts">
    <!-- <div class="post" *ngFor="let post of posts">
        <div class="cover" [ngStyle]="{'background-image': 'url('+ post.data.cover +')'}"></div>
        <h3 id="{{post.id}}">{{post.data.title}}  <span (click)="deletePost(post.id, post.data.fileref)">Delete</span></h3>
       
    </div> -->

    <!-- <div class="post" *ngFor="let product of products">
        <h3>{{ product.data.name }}</h3>
    </div> -->
</div>


<mat-grid-list cols="5" [style.background]="'skyblue'">
    <mat-grid-tile *ngFor="let day of daysOfWeek" [style.border-right]="'1px solid  #ddd'">
        <mat-grid-tile-header>{{ day }}</mat-grid-tile-header>

        <div *ngFor="let meal of weeklyMenu">
            <label for="title">{{ meal.data }}</label>
            <input type="text" formControlName="title">
           
        </div>
    </mat-grid-tile>


</mat-grid-list>